/* Reset base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background: #121212;
    color: #FFF;
}

/* Sidebar */
.sidebar {
    position: absolute;
    height: 90%;
    top: 0;
    left: 0;
    width: 10%;
    background: #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar .logo {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.sidebar h2 {
    padding: 0.5rem;
}

.sidebar nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar nav i {
    display: inline-block;
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;

}

.sidebar nav a {
    text-decoration: none;
    color: #B3B3B3;
}

.sidebar nav img {
    display: inline-block;
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
}

.sidebar .playlist {
    flex-grow: 1;
    overflow-y: auto;
}

.sidebar .create-playlist {
    display: flex;
    align-items: center;
    background: transparent;
    color: #B3B3B3;
    border: none;
    padding: 0.5rem 0;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.sidebar .create-playlist i {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    background-color: #B3B3B3;
    color: #000;
    font-size: 1rem;
    flex-shrink: 0;
}

.sidebar .playlist ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar .playlist span {
    font-weight: bold;
    margin: 0.5rem;
}

.sidebar .playlist li {
    margin: 0.5rem 0;
}

.sidebar .playlist a {
    color: #B3B3B3;
    text-decoration: none;
    font-size: 0.9rem;
}

/* RICORDA BENE CHE DIPENDE TUTTO DA COME ORGANIZZI GLI ELEMENTI ALL'INTERNO DEL CONTENITORE: NEL CASO DI SPECE, POSSO RAGGRUPPARLI IN DUE ELEMENTI E USARE JUSTIFY-CONTENT: SPACE-BETWEEN. 
   IN QUESTO CASO HO OPTATO PER 4 ELEMENTI, DI CUI PLAYLIST è DI TIPO FLEX-GROW */
.sidebar .user {
    font-size: 0.9rem;
}

/* Main container */
.container {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Top navigation */
.call-to-action {
    background: #080b12;
    background: transparent;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.call-to-action .upgrade {
    border: 1px solid #FFF;
    background: transparent;
    color: #FFF;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
}

.top-nav {
    margin: 2rem 0;
}

.top-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.top-nav a {
    text-decoration: none;
    color: #B3B3B3;
    font-weight: bold;
}

.top-nav a.active {
    color: #1DB954;
}

/* Main content */
main {
    background-color: #141922;
    padding: 0 20px;
    overflow-y: auto;
    height: 100vh;
}

section {
    /* margin-bottom: 40px; */
    margin: 2rem 0;
}

section h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    flex: 0 0 auto;
    display:inline-block;
}

.card img {
    display:block;
    width:100%;
    height:100%;
}

.created-for-you p, .popular-artists p {
    margin-bottom:2rem;
}
/* .container .card img {
    display: block;
    height: 100%;
    width: 70%;
}
 */
.popular-artists .card img {
    border-radius: 50%;
}

/* Media Player Footer */
.media-player {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    background: #181818;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.media-player .track-info,
.media-player .actions {
    flex: 0 0 auto;
}

.media-player .track-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.media-player .track-info img {
    display: block;
    width: 40px;
    height: 40px;
}

.media-player .track-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.media-player .track-info i {
  margin-left: 1rem;
  font-size: 1.2em;
  cursor: pointer;
}

.media-player .controls,
.media-player .actions {
    display: flex;
    align-items: center;
    gap: 16px;
}

.media-player button {
    background: transparent;
    border: none;
    color: #FFF;
    cursor: pointer;
    font-size: 1rem;
}

.media-player .simulator {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex: 1 1 auto;
    margin: 0 1.5rem;
}

.media-player .progress {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.media-player .progress-bar {
    width: 40%;
    height: 4px;
    background: #404040;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
}

.media-player .progress-filled,
.media-player .volume-filled {
    width: 30%;
    height: 100%;
    background: #1DB954;
}

/* .media-player .volume-bar {

} */